<div class="movie-edit">
    <figure class="movie-edit__side">
        <img class="movie-edit__poster"
             [src]="imageUrl"
             [alt]="'movie.logo' | translate" />
        <figcaption class="movie-edit__raiting text--biggest text--raiting"
                    [title]="movie.raiting">
            <div class="movie-edit__stars">
                <ng-container *ngFor="let item of raitingStarCollection">
                    <i class="la-star"
                       [ngClass]="item"></i>
                </ng-container>
            </div>
            {{movie.raiting}}
        </figcaption>
    </figure>
    <main class="movie-edit__main">
        <div class="movie-edit__header">
            <div class="movie-edit__title text--title text--overflow">
                <span class="movie-edit__name"
                      title="{{movie.russianName}}">{{movie.russianName}}</span>
                <span class="movie-edit__name"
                      title="{{movie.originalName}}">{{movie.originalName}}</span>
            </div>
        </div>
        <form [formGroup]="form">
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.id' | translate"
                           valueClass="movie-edit__value"
                           formControlName="id"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.russianName' | translate"
                           valueClass="movie-edit__value"
                           formControlName="russianName"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.originalName' | translate"
                           valueClass="movie-edit__value"
                           formControlName="originalName"></mc-edit-field>

            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.year' | translate"
                           valueClass="movie-edit__value"
                           formControlName="year"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.country' | translate"
                           valueClass="movie-edit__value"
                           formControlName="country"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.duration' | translate"
                           valueClass="movie-edit__value"
                           formControlName="duration"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.genre' | translate"
                           valueClass="movie-edit__value"
                           formControlName="genre"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.director' | translate"
                           valueClass="movie-edit__value"
                           formControlName="director"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.actors' | translate"
                           valueClass="movie-edit__value"
                           formControlName="actors"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.translation' | translate"
                           valueClass="movie-edit__value"
                           formControlName="translation"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.quality' | translate"
                           valueClass="movie-edit__value"
                           formControlName="quality"></mc-edit-field>
            <mc-edit-field fieldClass="movie-edit__field"
                           labelClass="movie-edit__label text-description"
                           [label]="'movie.more' | translate"
                           valueClass="movie-edit__value"
                           formControlName="more"></mc-edit-field>
        </form>
    </main>
</div>