@import "./../../../../../assets/styles/colors";

$side_width: 400px;
$label_width: 185px;

.movie-edit {
  height: 100%;
  display: flex;

  &__side {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 $side_width;
    box-sizing: border-box;
    padding: 0 20px;
  }

  &__poster {
    max-width: 100%;
    margin-bottom: 20px;
    min-height: 360px;
  }

  &__main {
    position: relative;
    box-sizing: border-box;
    height: inherit;
    padding-left: 20px;
    flex: auto;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-left: 1px solid $gray-lighter;
    }
  }

  &__actions {
    margin-left: 10px;
    width: 60px;
    min-width: 60px;
    text-align: right;
  }
}


.edit-field {
    &:not(:first-child) {
        margin-top: 10px;
    }


  &__label {
    min-width: $label_width;
    align-self: start;
  }

  &__input {
    width: calc(100% - #{$label_width});
  }
  ._offset {
      margin-left: 10px;
  }
}
