@import "./../../../../../assets/styles/colors";

.create {
  &__page {
    padding: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__actions {
    margin-bottom: 20px;
  }

  &__content {
    flex: auto;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  ._offset {
    margin-left: 10px;
  }
}
