@import "./../../../../../assets/styles/colors";

.message {
  padding: 10px 10px;
  color: $white;
  width: 350px;
}

.success {
  border-left: 3px solid $success;
  background-color: $success;
}

.error {
  border-left: 3px solid $danger;
  background-color: $danger;
}
