@import "./../../../../../assets/styles/colors";

.movies__page {
  display: flex;
  flex-direction: column;
}

.movie-list {
  flex: auto;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;


  &__container {
    display: inline-flex;
    padding: 40px 80px;
  }
}
