@import "./../../../../../assets/styles/colors";

.movie-list {
  height: calc(100% - 42px);

  &__item {
    margin: 10px 20px;
  }
}

.add-link {
    position: fixed;
    font-size: 2.25rem;
    bottom: 30px;
    right: 30px;
    padding: 0.5rem;
    background-color: $primary;
    color: $white;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 0.8;
      transform: rotate(270deg);
      transition: all 0.5s ease-in-out;
    }
  }

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;


  &__container {
    display: inline-flex;
    padding: 40px 80px;
  }
}