<div class="page wishes-list"
     *ngIf="(wishCollection$ | async).length > 0; else hasNoItems;">
    <div class="wishes-list__container">
        <div class="list-item_offset"
             *ngFor="let wish of wishCollection$ | async">
            <mc-wishes-item [wish]="wish"></mc-wishes-item>
        </div>
    </div>
</div>
<ng-template #hasNoItems>
    <div class="empty">
        <p class="container empty__container text-subtitle"
           title="hasNoMovies">
            {{'hasNoWishes' | translate}}
        </p>
    </div>
</ng-template>
<a class="add-btn"><i class="las la-plus"></i></a>