@import "./../../../../assets/styles/colors";

.m-header {
  text-align: center;
  padding: 12px;
  color: $gray-lightest;
}

.primary {
  background-color: $primary;
}

.warning {
  background-color: $warning;
}

.danger {
  background-color: $danger;
}
