@import "./../../../assets/styles/colors";

.btn-language {
  transition: all 0.3s ease-out;
  width: 3rem;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;

  &:hover {
    transition: all 0.3s ease-out;
    background-color: #ffffff22;
    color: $white;
  }

  & + .btn-language {
    position: relative;
    margin-left: 2rem;

    &::before {
      content: "";
      position: absolute;
      left: -1rem;
      top: 0.5rem;
      bottom: 0.5rem;
      border-right: 1px solid $white;
    }
  }
}

.active {
  background-color: #ffffff66;
  color: $white;
}
