@import "./../../../assets/styles/colors";

.btn-language {
  transition: all 0.3s ease-out;
  width: 3rem;
  color: $white;
  padding: 0.5rem 1rem;

  &:hover {
    transition: all 0.3s ease-out;
    background-color: $white;
    color: $danger;
  }

  &+.btn-language {
    position: relative;
    margin-left: 2rem;

    &::before {
      content: '';
      position: absolute;
      left: -1rem;
      top: 0.5rem;
      bottom: 0.5rem;
      border-right: 1px solid $white;
    }
  }
}

.active {
  border: 1px solid $gray-lighter;
}