@import "./../../../../../assets/styles/colors";

$side_width: 400px;

.movie-view {
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 20px;
  background-color: $white;
  border: 1px solid $gray-lighter;
  display: flex;
  flex-wrap: wrap;

  &__side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $side_width;
    box-sizing: border-box;
    padding: 0 20px;
  }

  &__poster {
    max-width: 100%;
    margin-bottom: 20px;
  }

  &__main {
    position: relative;
    box-sizing: border-box;
    height: inherit;
    width: calc(100% - #{$side_width});
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-left: 1px solid $gray-lighter;
    }
  }

  &__actions {
      margin-left: 10px;
      width: 60px;
      min-width: 60px;
      text-align: right;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
  }

  &__name+&__name {
    margin-left: 20px;
  }

  &__field {
    line-height: 2rem;
    height: 2rem;
  }

  &__label {
    min-width: 150px;
  }
}
