@import "./../../../../../assets/styles/colors";

$side_width: 400px;

.container__view {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.view {
  &__header {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.side {
  display: flex;
  flex-direction: column;
  width: $side_width;
  box-sizing: border-box;
}

.poster {
  max-width: calc(100% - 20px);
}

.side__poster {
  margin-bottom: 20px;
}

.main {
  position: relative;
  box-sizing: border-box;
  height: inherit;
  width: calc(100% - #{$side_width});

  &__side {
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-left: 1px solid $gray-lighter;
    }
  }
}

.actions {
  width: 60px;
  min-width: 60px;
  text-align: right;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray-lighter;

  &__actions {
    margin-left: 10px;
  }

  &__name+&__name {
    margin-left: 20px;
  }
}

.field {
  line-height: 2rem;
  height: 2rem;

  &__label {
    min-width: 150px;
  }
}
