<header class="app-header">
    <mc-header>
        <div class="text-biggest _top-offset">{{ 'appName' | translate }}</div>
    </mc-header>
    <div class="header-content">
        <nav class="nav app-header__nav">
            <a class="text-subtitle link" routerLinkActive="_active" [routerLink]="[ '/movie' ]">Movies</a>
            <a class="text-subtitle link" routerLinkActive="_active" [routerLink]="[ '/wishes' ]">Wishes</a>
        </nav>
        <mc-translator class="language-content"></mc-translator>
    </div>
</header>