@import "./../../../assets/styles/colors";

.app-header {
  position: relative;
  background: linear-gradient(to right, rgba(251, 64, 75, 0.8), rgba(187, 5, 2, .8)), url("../../../assets/images/header.jpg");
  background-size: cover;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-content {
  height: 3rem;
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.link {
  color: $white;
  transition: all 0.3s ease-out;
    padding: 0.75rem 2rem;
  &:hover {
    transition: all 0.3s ease-out;
    background-color: $white;
    color: $danger;
  }

  &+.link {
    position: relative;
    margin-left: 2rem;

    &::before {
      content: '';
      position: absolute;
      left: -1rem;
      top: 0.5rem;
      bottom: 0.5rem;
      border-right: 1px solid $white;
    }
  }
}

._top-offset {
  padding-top: 1.5rem;
}
