@import "./../../../../assets/styles/colors";

.activity-panel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 400px;
  background-color: $gray-lightest;
  border: 1px solid $gray-lighter;
  box-sizing: border-box;
  z-index: 10;


}

.ativity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  color: $white;

  &:hover {
    color: $gray-lightest;
  }

  &:active {
    transform: rotate(360deg);
  }
}
