@import "./assets/styles/reset";
@import "./assets/styles/fonts";
@import "./assets/styles/colors";
@import "./assets/styles/blocks/form-control";
@import "./assets/styles/blocks/page";
@import "./assets/styles/blocks/text";
@import "./assets/styles/blocks/button";
@import "./assets/styles/blocks/list-item";

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

input,
select,
textarea {
  font-family: Roboto, sans-serif;
  font-size: 1.1em;
  color: $gray-light;
  border: 1px solid $gray-lighter;
  padding: 0 10px;
  height: 2.15rem;
  line-height: 2.15rem;
  box-sizing: border-box;
  font-weight: 100;

  &:focus {
    border: 1px solid $gray-light;
  }

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

a {
  cursor: pointer;
  color: $primary;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease-out;

  &:hover {
    color: $info;
    transition: color 0.3s ease-out;
  }
}

.icon {
  color: $primary;
  transition: all 0.3s ease-out;
  font-size: 1.5em;

  &:hover {
    color: $info;
    transition: all 0.3s ease-out;
  }
}
