@import "./../../../../../assets/styles/colors";

.movie-list-wrpapper {
  height: 100%;
  background: $gray-lightest;

  .movie-list-container {
    height: calc(100% - 50px);

    .movie-item {
      margin: 10px 20px;
    }
  }
}

.has-no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

  .content {
    padding: 30px;
    border: 1px solid $gray-lighter;
  }
}
