$gray-dark: #373a3c;
$gray: #55595c;
$gray-light: #818a91;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;
$white: #ffffff;

$primary: #3BA5CA;
$success: #36ABA2;
$info: #5B8FDE;
$warning: #EFD23E;
$danger: #EF5B3E;
