@import "../colors";

.list-item {
  border: 1px solid $gray-lighter;
  padding: 10px;
  border-radius: 0.25rem;
  background: $white;

  &__header {
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid $gray-lighter;
  }

  &__name+&__name {
    position: relative;
    margin-left: 1.5rem;

    &::before {
      content: '|';
      position: absolute;
      left: -1rem;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__block {
    width: 33%;
  }

  &__field {
    line-height: 1.25rem;
    height: 1.25rem;
  }

  &__label {
    min-width: 5rem;
  }

  &_offset {
    margin: 0.75rem 1.5rem;
  }
}
