@import "../colors";

.page {
  box-sizing: border-box;
  height: 100%;
  background-color: $gray-lightest;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.25rem;
  background-color: $white;
  border: 1px solid $gray-lighter;
}
